<div class="jumbotron" ng-controller="homeController">
    <h2>Kozmik Management Systems</h2>
    <p>Thank you, for giving me, the opportunity to interview with A.B. Data. I am really excited and patiently waiting to hear from you.
        While I wait for a decision, I thought I would send you a small demo application, to show that I am very dedicated to the field of Web development</p>

    <p>This Web-based information system, is designed to view, update, and delete records for a given item. You should use this system to maintain complete information on all records.</p>
    <p>This system is built on the .Net platform using various technologies for various layers as given below</p>
    <p class="col-sm-offset-1"><b><span class="glyphicon glyphicon-hand-right"></span> User Interface</b>: AngularJS and BootStrap</p>
    <p class="col-sm-offset-1"><b><span class="glyphicon glyphicon-hand-right"></span> Service Layer</b>: Asp.Net Web API</p>
    <p class="col-sm-offset-1"><b><span class="glyphicon glyphicon-hand-right"></span> Business Logic Layer</b>: C#.Net</p>
    <p class="col-sm-offset-1"><b><span class="glyphicon glyphicon-hand-right"></span> Data Access Layer</b>: Entity Framework Code First</p>
    <p class="col-sm-offset-1"><b><span class="glyphicon glyphicon-hand-right"></span> Back End</b>: MS SQL Server 2014</p>
    <p class="col-sm-offset-1"><b><span class="glyphicon glyphicon-hand-right"></span> Tools</b>: Visual Studio 2017 and SQL Server Management Studio 2014</p>
</div>